In [3]:
import pandas as pd
import numpy as np
from sklearn.metrics import mean_squared_error

## include data set

In [20]:
train = pd.read_csv('train.csv')
test = pd.read_csv('test.csv')
train

,Id,y,x1,x2,x3,x4,x5,x6,x7,x8,x9,x10
0,0,738.023171,1764.052346,400.157208,978.737984,2240.893199,1867.557990,-977.277880,950.088418,-151.357208,-103.218852,410.598502
1,1,400.646015,144.043571,1454.273507,761.037725,121.675016,443.863233,333.674327,1494.079073,-205.158264,313.067702,-854.095739
2,2,189.900156,-2552.989816,653.618595,864.436199,-742.165020,2269.754624,-1454.365675,45.758517,-187.183850,1532.779214,1469.358770
3,3,-78.399449,154.947426,378.162520,-887.785748,-1980.796468,-347.912149,156.348969,1230.290681,1202.379849,-387.326817,-302.302751
4,4,-547.373531,-1048.552965,-1420.017937,-1706.270191,1950.775395,-509.652182,-438.074302,-1252.795360,777.490356,-1613.897848,-212.740280
...,...,...,...,...,...,...,...,...,...,...,...,...
9995,9995,-199.976500,-30.453041,1082.680684,-530.579767,602.366643,-2138.290628,-56.632352,1166.444325,-772.096264,-908.987980,-414.216625
9996,9996,39.584572,2520.830358,-124.883939,18.067992,-998.622811,-1262.733524,-565.107007,-455.238199,555.726945,994.368197,-286.562290
9997,9997,61.176538,-545.704959,1696.765630,-508.186053,3.620563,-1018.514516,251.561864,-338.181817,1014.142886,-582.528063,638.789847
9998,9998,-202.136489,-367.787118,-568.357801,-721.247794,198.279702,-217.422041,914.756550,443.756638,-306.203642,-949.055902,-448.083485
9999,9999,-289.218996,428.570549,-164.999054,864.962658,-647.662456,720.057730,-337.714761,-2028.548436,726.181981,-1167.830521,-1285.207648

## convert datafram to numpy

In [14]:
y_df=train.y
y= y_df.to_numpy()
X=train.to_numpy()[:,2:-1]

## closed form solution

In [15]:
X_T=np.transpose(X)
w=np.linalg.inv(X_T@X)@X_T@y
w

array([0.0998701 , 0.09913881, 0.09999679, 0.10029613, 0.09877276,
       0.09838857, 0.1004196 , 0.09889488, 0.10077114])

## eval test set

In [45]:
X_test=test.to_numpy()[:,1:-1]
y_final=X_test@w
y_final

array([ -19.68209405,  245.39946512, -375.53964719, ..., -133.47624845,
       -131.25741073,  398.21258948])

In [55]:
Id=(test.Id).to_numpy()
arr=np.array([Id,y_final]).T
submission = pd.DataFrame(data=arr, columns=['Id','y'])
submission.to_csv("submission_taks0")